{% extends "base.html" %}
    {% load static %}
    

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    {% endblock %}
    {% block content %}

   
    
  
<main class="shopping-cart">
    <div class="cart-item">
        <div class="cart-img-container">
            <img src="{% static 'media/images/products/product-1.jpg' %}"  alt="">
        </div>
        <div class="cart-text-box">
            <h2 class="item-title">Product 1</h2>
            <input class="product-qty" type="number" name="product-qty" min="0" max="10" value="1">
            <div class="cart-btn-box">
            <button class="btn-cart">Update</button>
            <button class="btn-cart">Delete</button>
        </div>
        </div>

    </div>
</main>         
        
        
     {% endblock %} 