{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block content %}

<section class="section-hero">
    <div class="hero-text-container">
      <h1 class="heading-primary">Your Skin Transformed</h1>
      <p class="hero-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus atque
        molestiae pariatur provi
      </p>
      <a href="#" class="btn btn--cta margin-right-sm">New skin today</a>
    </div>
    <div class="hero-img-container">
      <img src="{% static 'media/images/hero-img.jpg' %}" alt="" class="hero-img" />
    </div>
  </section>

  <section class="section-how">
    <div class="container">
      <span class="subheading-section">How it works</span>
      <h2 class="heading-section">Real skin. Real results.</h2>
    </div>

    <div class="how-container">
      <div class="step step--hidden">
        <div class="step-img-container">
          <img class="how-img-1" src="{% static 'media/images/steps-section/step-1.jpg' %}" alt="">
        </div>
        <div class="step-text-box">
          <div class="step-shown-info">
            <div class="step-number-title-container">
              <p class="step-number">1</p>
              <h3 class="heading-tertiary">Just for you</h3>
            </div>
            <div class="step-icon-container">
              <i class="step-icon fa-solid fa-chevron-down icon-active" aria-hidden="true"></i>
            </div>
          </div>

          <div class="step-description-container">
            <p class="step-text-description">
              Choose the products or complete sets just right for you and your
              unique skin.
            </p>
          </div>
        </div>
      </div>

      <div class="step step--hidden">
        <div class="step-img-container">
          <img class="how-img-2" src="{% static 'media/images/steps-section/step-2.jpg' %}" alt="">
        </div>
        <div class="step-text-box">
          <div class="step-shown-info">
            <div class="step-number-title-container">
              <p class="step-number">2</p>
              <h3 class="heading-tertiary">Natural ingredients</h3>
            </div>
            <div class="step-icon-container">
              <i class="step-icon fa-solid fa-chevron-down icon-hidden" aria-hidden="true"></i>
            </div>
          </div>
          <div class="step-description-container">
            <p class="step-text-description">
              We believe we shouldn't have to choose between skincare products
              we love and the planet, and neither should you.
            </p>
          </div>
        </div>
      </div>

      <div class="step step--active">
        <div class="step-img-container">
          <img class="how-img-3" src="{% static 'media/images/steps-section/step-3.jpg' %}" alt="">
        </div>

        <div class="step-text-box">
          <div class="step-shown-info">
            <div class="step-number-title-container">
              <p class="step-number">3</p>
              <h3 class="heading-tertiary">Delivered straight to you</h3>
            </div>
            <div class="step-icon-container">
              <i class="step-icon fa-solid fa-chevron-down icon-hidden" aria-hidden="true"></i>
            </div>
          </div>
          <div class="step-description-container">
            <p class="step-text-description">
              Hassle free delivery. All orders are processed within 2-3
              business days from the date of purchase and sent straight to
              your door!
            </p>
          </div>
        </div>
      </div>

      <div class="step step--hidden">
        <div class="step-img-container">
          <img class="how-img-4" src="{% static 'media/images/steps-section/step-4.jpg' %}" alt="">
        </div>
        <div class="step-text-box">
          <div class="step-shown-info">
            <div class="step-number-title-container">
              <p class="step-number">4</p>
              <h3 class="heading-tertiary">Proven results</h3>
            </div>
            <div class="step-icon-container">
              <i class="step-icon fa-solid fa-chevron-down icon-hidden" aria-hidden="true"></i>
            </div>
          </div>
          <div class="step-description-container">
            <p class="step-text-description">
              Our proven ingredients work better together, to give you more
              effective results. Our formulas have helped people all over the
              world clear up their skin and get their confidence back.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section-sign-up">
        <div class="sign-up-container">
          <img src="{% static 'media/images/sign-up-img.jpg' %}" alt="" class="" />
        </div>
        <div class="sign-up-text-box">
          <h1 class="heading-primary">
            Peace and joy<br />
            to do the things we<br />love
          </h1>
  
          <a href="#" class="btn btn--cta margin-right-sm">Sign up now</a>
        </div>
    </section>


    <sectiion class="section-testimonials">
      <div class="testimonials-container">
        <div class="testimonials-img-box">
          <img src="{% static 'media/images/testimonial-section-img.jpg' %}" alt="">
        </div>
  
        <div class="testimonials-container-right">
          <div class="container">
            <span class="subheading-section">TESTIMONIALS</span>
            <h2 class="heading-section">Real skin. Real results.</h2>
          </div>
  
          <div class="testimonials-grid">
            <div class="testimonial">
              <img class="testimonial-img" src="{% static 'media/images/customers/customer-1.jpg' %}" alt="">
              <div class="testimonial-text-box">
                <p class="testimonial-text">
                  Pure joy to use. I'm absoultely dumfounded with the results.
                  Thank you Curology.
                </p>
                <p class="testimonial-name">— Lucy Hatlington</p>
              </div>
            </div>
  
            <div class="testimonial">
              <img class="testimonial-img" src="{% static 'media/images/customers/customer-2.jpg' %}" alt="">
              <div class="testimonial-text-box">
                <p class="testimonial-text">
                  There is skincare and there is Curology. Honestly, it's been a
                  revelation.
                </p>
                <p class="testimonial-name">— Maddison McNulty</p>
              </div>
            </div>
  
            <div class="testimonial">
              <img class="testimonial-img" src="{% static 'media/images/customers/customer-3.jpg' %}" alt="">
              <div class="testimonial-text-box">
                <p class="testimonial-text">
                  My confidence came back 100 fold. What can I say, I literally
                  can't stop smiling from the results.
                </p>
                <p class="testimonial-name">— Vivian Muddleberry</p>
            </div>
            </div>
  
            <div class="testimonial">
              <img class="testimonial-img" src="{% static 'media/images/customers/customer-4.jpg' %}" alt="">
              <div class="testimonial-text-box">
                <p class="testimonial-text">
                  I have been reborn. It's amazing not to worry about my
                  skin anymore!
                </p>
                <p class="testimonial-name">— Annabel Babineaux</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </sectiion>


    <section class="section-products">

      <div class="container">
        <span class="subheading-section">TESTIMONIALS</span>
        <h2 class="heading-section">Real skin. Real results.</h2>
      </div>

      <div class="products-grid-container">

        <div class="products">
          <div class="products-text-box products-line">
            <p class="products-title">The Formula</p>
            <p class="products-description">Acne Clearing Treatment</p>
            <p class="products-price">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa dicta ullam cumque a, esse perferendis atque quod nihil quaerat tempore unde corporis explicabo, ut nemo animi! Pariatur cumque aut delectus!
            </p>
          </div>
        </div>

        <div class="products">
          <div class="products-img-container">
            <img class="products-img" src="{% static 'media/images/products/product-1.jpg' %}" alt="">
          </div>
          <div class="products-text-box">
            <p class="products-title">The Formula</p>
            <p class="products-description">Acne Clearing Treatment</p>
            <p class="products-price">€29.95/month</p>
          </div>
        </div>
        <div class="products">
          <div class="products-img-container">
            <img class="products-img" src="{% static 'media/images/products/product-2.jpg' %}" alt="">
          </div>
          <div class="products-text-box">
            <p class="products-title">Custom Formula</p>
            <p class="products-description">Acne Clearing Treatment</p>
            <p class="products-price">€29.95/month</p>
          </div>
        </div>
        <div class="products">
          <div class="products-img-container">
            <img class="products-img" src="{% static 'media/images/products/product-3.jpg' %}" alt="">
          </div>
          <div class="products-text-box">
            <p class="products-title">Custom Formula</p>
            <p class="products-description">Acne Clearing Treatment</p>
            <p class="products-price">€29.95/month</p>
          </div>
        </div>
        
        <div class="products">
          <div class="products-text-box products-line">
            <p class="products-title">The Formula</p>
            <p class="products-description">Acne Clearing Treatment</p>
            <p class="products-price">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis reprehenderit sequi, odit accusamus dolorum quasi voluptatem alias obcaecati pariatur dignissimos? In unde tenetur voluptatum reprehenderit qui fuga temporibus? Itaque, doloremque.
            </p>
          </div>
        </div>
        <div class="products">
          <div class="products-img-container">
            <img src="{% static 'media/images/products/product-4.jpg' %}" class="products-img" alt="">
          </div>
          <div class="products-text-box">
            <p class="products-title">Custom Formula</p>
            <p class="products-description">Acne Clearing Treatment</p>
            <p class="products-price">€29.95/month</p>
          </div>
        </div>
        <div class="products">
          <div class="products-img-container">
            <img class="products-img" src="{% static 'media/images/products/product-5.jpg' %}" alt="">
          </div>
          <div class="products-text-box">
            <p class="products-title">Custom Formula</p>
            <p class="products-description">Acne Clearing Treatment</p>
            <p class="products-price">€29.95/month</p>
          </div>
        </div>
        <div class="products">
          <div class="products-img-container">
            <img class="products-img" src="{% static 'media/images/products/product-6.jpg' %}" alt="">
          </div>
          <div class="products-text-box">
            <p class="products-title">Custom Formula</p>
            <p class="products-description">Acne Clearing Treatment</p>
            <p class="products-price">€29.95/month</p>
          </div>
        </div>
        
      </div>
      
    </section>
    
   
{% endblock %}