{% extends "base.html" %}
{% load static %}


{% block extra_css %}

{% endblock %}


{% block content %}
<section class="section-hero">
    <div class="hero-text-container">
      <h1 class="heading-primary">Your Skin Transformed</h1>
      <p class="hero-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus atque
        molestiae pariatur provi
      </p>
      <a href="#" class="btn btn--cta margin-right-sm">New skin today</a>
    </div>
    <div class="hero-img-container">
      <img src="{% static 'images/hero-img.jpg' %}" alt="" class="hero-img" />
    </div>
  </section>

  <sectiion class="section-testimonials">
    <div class="testimonials-container">
      <div class="testimonials-img-box">
        <img src="{% static 'images/testimonial-section-img.jpg' %}" alt="">
      </div>

      <div class="testimonials-container-right">
        <div class="container">
          <span class="subheading-section">TESTIMONIALS</span>
          <h2 class="heading-section">Real skin. Real results.</h2>
        </div>

        <div class="testimonials-grid">
          <div class="testimonial">
            <img class="testimonial-img" src="{% static 'images/customers/customer-1.jpg' %}" alt="">
            <div class="testimonial-text-box">
              <p class="testimonial-text">
                Pure joy to use. I'm absoultely dumfounded with the results.
                Thank you Curology.
              </p>
              <p class="testimonial-name">— Lucy Hatlington</p>
            </div>
          </div>

          <div class="testimonial">
            <img class="testimonial-img" src="{% static 'images/customers/customer-2.jpg' %}" alt="">
            <div class="testimonial-text-box">
              <p class="testimonial-text">
                There is skincare and there is Curology. Honestly, it's been a
                revelation.
              </p>
              <p class="testimonial-name">— Maddison McNulty</p>
            </div>
          </div>

          <div class="testimonial">
            <img class="testimonial-img" src="{% static 'images/customers/customer-3.jpg' %}" alt="">
            <div class="testimonial-text-box">
              <p class="testimonial-text">
                My confidence came back 100 fold. What can I say, I literally
                can't stop smiling from the results.
              </p>
              <p class="testimonial-name">— Vivian Muddleberry</p>
          </div>
          </div>

          <div class="testimonial">
            <img class="testimonial-img" src="{% static 'images/customers/customer-4.jpg' %}" alt="">
            <div class="testimonial-text-box">
              <p class="testimonial-text">
                I have been reborn. It's amazing not to worry about my
                skin anymore!
              </p>
              <p class="testimonial-name">— Annabel Babineaux</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </sectiion>

  <section class="section-sign-up">
        <div class="sign-up-container">
          <img src="{% static 'images/sign-up-img.jpg' %}" alt="" class="" />
        </div>
        <div class="sign-up-text-box">
          <h1 class="heading-primary">
            Peace and joy<br />
            to do the things we<br />love
          </h1>
  
          <a href="#" class="btn btn--cta margin-right-sm">Sign up now</a>
        </div>
    </section>
   
{% endblock %}