
/*
****************************
HEADER-SECTION
****************************
*/

.header {
    height: 6.4rem;
    width: 100%;
    font-weight: 600;
    color: #332f54;
}

.header-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 3.6rem;
}
    

  .logo {
    font-size: 2.4rem;
    font-weight: 600;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.header-links {
    font-size: 1.8rem;
}

.header-links--right {
    display: flex;
    gap: 3.2rem;
    position: relative;
}

.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    position: absolute;
    margin-top: 2.4rem;
    right: 100%;
    transform: translate(2rem, 0);
    width: 20rem;
    z-index: 1;
    border: #6c6c6c 1px solid;
    display: none; /* changed to flex on-click */
    gap: 2.8rem;
    padding: 3.2rem 1.6rem;
  }
  
  .dropdown-content a {
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .06rem;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {color: blue;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:flex;
    flex-direction: column;}